<div class="w-full mx-auto pt-8">
    <div class="inline-block min-w-full py-2 align-middle">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class=" min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                    <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">#</th>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Phone</th>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold text-gray-900 sm:pl-6">
                        1
                    </td>
                    <td  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Malcolm Lockyer</td>
                    <td  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">mlockyer@example.com</td>
                    <td  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">2121-2828</td>
                    <td  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    x
                    </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>